docs/meetings/20220907_kickoff/beamertheme-trigon/.DS_Store
docs/meetings/20220907_kickoff/beamertheme-trigon/Makefile
docs/meetings/20220907_kickoff/beamertheme-trigon/README.md
docs/meetings/20220907_kickoff/beamertheme-trigon/demo/frames.tex
docs/meetings/20220907_kickoff/beamertheme-trigon/demo/library.jpg
docs/meetings/20220907_kickoff/beamertheme-trigon/demo/trigon_demo.pdf
docs/meetings/20220907_kickoff/beamertheme-trigon/demo/trigon_demo.tex
docs/meetings/20220907_kickoff/beamertheme-trigon/demo/trigon_full.pdf
docs/meetings/20220907_kickoff/beamertheme-trigon/demo/trigon_small.pdf
docs/meetings/20220907_kickoff/beamertheme-trigon/docs/trigontheme.dtx
docs/meetings/20220907_kickoff/beamertheme-trigon/docs/trigontheme.pdf
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamercolorthemetrigon.dtx
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamercolorthemetrigon.sty
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerfontthemetrigon.dtx
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerfontthemetrigon.sty
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerinnerthemetrigon.dtx
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerinnerthemetrigon.sty
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerouterthemetrigon.dtx
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerouterthemetrigon.sty
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerthemetrigon.dtx
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerthemetrigon.ins
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerthemetrigon.log
docs/meetings/20220907_kickoff/beamertheme-trigon/source/beamerthemetrigon.sty
docs/meetings/20220907_kickoff/beamertheme-trigon/source/x.log
docs/meetings/20220907_kickoff/main.aux
docs/meetings/20220907_kickoff/main.fls
docs/meetings/20220907_kickoff/main.fdb_latexmk
docs/meetings/20220907_kickoff/main.log
docs/meetings/20220907_kickoff/main.nav
docs/meetings/20220907_kickoff/main.out
docs/meetings/20220907_kickoff/main.snm
docs/meetings/20220907_kickoff/main.synctex.gz
docs/meetings/20220907_kickoff/main.toc
docs/meetings/.DS_Store
docs/.DS_Store
.DS_Store
docs/meetings/20220907_kickoff/frames.aux
docs/meetings/20220907_kickoff/exama-220907.aux
docs/meetings/20220907_kickoff/exama-220907.log
docs/meetings/20220907_kickoff/exama-220907.nav
docs/meetings/20220907_kickoff/exama-220907.out
docs/meetings/20220907_kickoff/exama-220907.pdf
docs/meetings/20220907_kickoff/exama-220907.snm
docs/meetings/20220907_kickoff/exama-220907.toc
docs/meetings/20220907_kickoff/exama-220907.fdb_latexmk
docs/meetings/20220907_kickoff/exama-220907.fls
*.synctex.gz
